
    <div>



        <h1>Tretman 1</h1>

        <img src="/img/pozzz-removebg-preview.png" alt="Smiley image" style="padding-top:50px" />
        <div style="float:right;width:80%;padding-right:200px;padding-top:48px">
            <h4>Opis tretmana</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>



        </div>

        <div style="padding-top:30px">
            <h4 style="padding-bottom:30px">Cjenovnik</h4>
            <img src="/img/kvadratic.jpg" />
            <img src="~/img/pozzz-removebg-preview.png" style="width:20%" />



        </div>


       

            <input type='button' value='Nazad na početnu stranu' id='myButton' onClick='redirectOnClick()' />
            <script>
                function redirectOnClick() {
                    document.location = 'Index';
                }
            </script>

       

    </div>