<link href="~/css/galerija.css" rel="stylesheet" type="text/css" />


<div class="main">

   
    <hr>


    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="~/img/galerija1.jpg" alt="Mountains" style="width:100%">
                
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="~/img/galerija 2.jpg" alt="Lights" style="width:100%">
               
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="~/img/galerija 6.jpg" alt="Nature" style="width:100%">
              
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="~/img/galerija 4.png" alt="Mountains" style="width:100%">
                
            </div>
        </div>
    </div>

    <div class="content">
        <img src="~/img/galerija 7.jpg" alt="Bear" style="width:100%">
       
    </div>

    <!-- END MAIN -->
</div>