
<div>
    <button style="margin-top:50px; display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;" onclick="redirectOnClick()">
        Unos podataka o završenom testu
    </button>

</div>

<script>
    function redirectOnClick() {
        document.location = '/FormaZaTestDBs/Create';
    }
</script>


<div style="padding-left:300px">
    <button style="margin-top:150px; display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;" onclick="redirectOnClick2()">
        Unos podataka o završenom tretmanu
    </button>
</div>
<script>
    function redirectOnClick2() {
        document.location = '/FormaZaTretmanDBs/Create';
    }
</script>


